/* Banner */

#banner-wrapper {
  padding: 1em 0 1em 0;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #fff;
  text-align: center;
  border-top: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

  #banner-wrapper .inner {
    background: url("../images/burgers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
  }

  #banner-wrapper p {
    text-align: center;
  }

  #banner {
    padding: 10em 0 10em 0;
}

    #banner p {
      font-size: 4em;
      line-height: 1.5em;
      letter-spacing: 4px;
    }

    #banner strong {
      font-size: 3em;
			color: inherit;
		}

    #banner:before, #banner:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 35px;
      height: 141px;
      margin-top: -70px;
      /* background: url("../images/burgers.jpg"); */
    }

    #banner:before {
      left: 0;
    }

    #banner:after {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
      right: 0;
    }

    .container {
      margin-left: auto;
      margin-right: auto;
    }
