#header-wrapper {
  position: relative;
  background: #fff;
  text-align: center;
}

#header {
  position: relative;
  border-bottom: solid 2px #e5e5e5;
  box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
